<div class="navbar_newsfeed title_zonelist">
<!--   <div class="blank">
  </div> -->
      <p>Notifications</p>
</div>

<div class="container">

  <div class="message_row">
    <div>
      <%= image_tag "marybush.jpg",class:"avatar_message" %>
    </div>
    <div class="card_message" >
      <div>
        <p  style="margin-top:13px"><b>Marry</b> liked your post</p>
      </div>
      <div>
        <p style="color:#615858; font-size:12px">3 hours ago</p>
      </div>
    </div>
  </div>

 <div class="message_row">
    <div>
      <%= image_tag "mojito.jpg",class:"avatar_message" %>
    </div>
    <div class="card_message" >
      <div>
        <p  style="margin-top:13px"><b>Stéphanie</b> liked your post</p>
      </div>
      <div>
        <p style="color:#615858; font-size:12px">5 hours ago</p>
      </div>
    </div>
  </div>

   <div class="message_row">
    <div>
      <%= image_tag "coucou.jpg",class:"avatar_message" %>
    </div>
    <div class="card_message" >
      <div>
        <p  style="margin-top:13px"><b>Grégoire</b> has commented your post</p>
      </div>
      <div>
        <p style="color:#615858; font-size:12px">6 hours ago</p>
      </div>
    </div>
  </div>

   <div class="message_row">
    <div>
      <%= image_tag "basketball.jpg",class:"avatar_message" %>
    </div>
    <div class="card_message" >
      <div>
        <p  style="margin-top:13px"><b>Thomas</b> has commented your post</p>
      </div>
      <div>
        <p style="color:#615858; font-size:12px">8 hours ago</p>
      </div>
    </div>
  </div>

  <div class="message_row">
    <div>
      <%= image_tag "pianist.jpg",class:"avatar_message" %>
    </div>
    <div class="card_message" >
      <div>
        <p  style="margin-top:13px"><b>Julie</b> liked your post</p>
      </div>
      <div>
        <p style="color:#615858; font-size:12px">11 hours ago</p>
      </div>
    </div>
  </div>

   <div class="message_row">
    <div>
      <%= image_tag "hiking.jpg",class:"avatar_message" %>
    </div>
    <div class="card_message" >
      <div>
        <p style="margin-top:13px"><b>Jenifer</b> liked your post</p>
      </div>
      <div>
        <p style="color:#615858; font-size:12px">25 hours ago</p>
      </div>
    </div>
  </div>

<div class="col-xs-12 col-lg-6 col-lg-offset-3">
    <%= render 'components/navbar_bottom' %>
</div>
