<div class="main-card-newsfeed">
  <div class="main-card-newsfeed--header">
    <div class="bandeau-interest">
      <%= post.interest_tag.title %>
    </div>

    <%= link_to user_path(post.user), class:"avatar" do %>
      <% if post.user.avatar_url.blank? == true %>
        <%= image_tag("default-avatar.png", class:"avatar_post") %>
      <% else %>
        <%=  cl_image_tag(post.user.avatar_url, class:"avatar_post") %>
      <% end %>
    <% end %>


      <div class="card-zone-newsfeed">
        <div class="zone-logo-newsfeed">
        </div>
        <div class="zone-name-newsfeed">
          <div class="name-newsfeed">

            <p><%= post.zone.title %></p>
          </div>
        </div>
      </div>


    <div>
      <%= link_to user_path(post.user) do %>
        <p id="full-name-post"><%= post.user.firstname + ' ' + post.user.lastname %></p>
        <% end %>

      <!-- Time spent -->
      <p id="time-spent-post"><%= post.updated_at %></p>
    </div>
  </div>

  <div class="main-card-newsfeed--body">
    <p class="post-content">
      <%= post.content %>
    </p>

      <% if post.photo.blank? == false %>
        <%=  cl_image_tag(post.photo, class:"post-picture") %>
      <% end %>

  </div>

  <div class="main-card-newsfeed--interactions">
    <a class="interaction-results-good" >
     <span id="good-<%= post.id %>" data-good=<%= post.id %>><%= post.goods.where(is_good: true).size %> goods</span>
    </a>

    <a href="#" class="interaction-results-comment" id="commentnumber">
      <%= pluralize post.comments.size, "comment" %>
    </a>
  </div>

  <hr class="divider">

  <div class="main-card-newsfeed--actions">

    <%= link_to good_post_path(post, is_good: true),class:"action-item good", method: :post, remote: true do %>

          <i class="far fa-thumbs-up" id="submmit_good"></i>
         <span id="goodclick">Good</span>

        <% end %>

    <%= link_to new_post_comment_path(post.id), class: "add_comment action-item comment", data: { 'post-id' => post.id } do %>
      <i class="far fa-comment-dots"></i>
      Comment
    <% end %>

    <a href="#" class="action-item share">
      <i class="far fa-share-square"></i>
      Share
    </a>
  </div>
</div>
