<div class="navbar_newsfeed">
  <%= link_to root_path, id: "logo_myzone_navbar" do %>
    <h1>MyZone</h1>
  <% end %>

  <div class="navbar_right">
      <%= link_to user_path(current_user), id:"avatar_nav" do %>
      <%= image_tag 'benoit.jpg', class:"avatar_navbar"%>
      <% end %>&nbsp;&nbsp;&nbsp;
      <%= link_to '/', id:"logout_nav" do %>
      <%= image_tag 'logout.png', height:29, weight:29 %>
      <% end %>&nbsp;&nbsp;&nbsp;
  </div>
</div>
