<div class="navbar_newsfeed">
  <%= link_to root_path do %>
   <%= image_tag("my_zone_logo.svg", class: "logo_myzone" ) %>
    <!-- <h1>MyZone</h1> -->
  <% end %>

  <div class="navbar_right">
      <%= link_to user_path(current_user), id:"avatar_nav" do %>

        <% if current_user.avatar_url.blank? %>
          <%= image_tag("default-avatar.png", class:"avatar_navbar")%>
        <% else %>
          <%= cl_image_tag(current_user.avatar_url, class:"avatar_navbar") %>
        <% end %>

      <% end %>&nbsp;&nbsp;&nbsp;
      <a rel="nofollow" id="logout_nav" data-method="delete" href="/users/sign_out">
        <%= image_tag 'logout.png', height:29, weight:29 %>&nbsp;&nbsp;&nbsp;
      </a>
  </div>
</div>

