    <h2 id="slogan"><em>Get connected in local</em></h2>
  <div class="sign-up-form">
        <div class="signup-content">
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= f.error_notification %>

            <div class="container-signup">
              <h2>Sign up</h2>
              <div class="form-inputs">
<!--                 <%= f.input :email,
                            required: true,
                            autofocus: true ,
                            placeholder: "Email",
                            label: false,
                            input_html: { autocomplete: "email" }%>
                <%= f.input :password,
                            required: true,
                            placeholder: "Password",
                            label: false,
                            hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                            input_html: { autocomplete: "new-password" } %>
                <%= f.input :password_confirmation,
                            placeholder: "Confirm Password",
                            label: false,
                            required: true,
                            input_html: { autocomplete: "new-password" } %>
                <%= f.input :firstname,
                            placeholder: "First name",
                            label: false,
                            required: true,
                            input_html: { autocomplete: "firstname" } %>
                <%= f.input :lastname,
                            placeholder: "Last name",
                            label: false,
                            required: true,
                            input_html: { autocomplete: "lastname" } %>
                <%= f.input :gender,
                            label: false,
                            as: :radio_buttons,
                            collection: [[:male, 'male'], [:female, 'female'], [:other, 'other']],
                            label_method: :second,
                            value_method: :first,
                            required: true,
                            input_html: { autocomplete: "gender" },
                            checked: true %> -->


                <div class="form-group email required user_email">
                  <input class="form-control string email required" autocomplete="email" autofocus="autofocus" required="required" aria-required="true" placeholder="Email" type="email" value="" name="user[email]" id="user_email">
                </div>
                <div class="form-group password required user_password">
                  <input class="form-control password required" autocomplete="new-password" required="required" aria-required="true" placeholder="Password" type="password" name="user[password]" id="user_password" aria-autocomplete="list"><small class="form-text text-muted">6 characters minimum</small>
                </div>
                <div class="form-group password required user_password_confirmation">
                  <input class="form-control password required" autocomplete="new-password" required="required" aria-required="true" placeholder="Confirm Password" type="password" name="user[password_confirmation]" id="user_password_confirmation">
                </div>
                <div class="form-group string required user_firstname">
                  <input class="form-control string required" autocomplete="firstname" required="required" aria-required="true" placeholder="First name" type="text" name="user[firstname]" id="user_firstname">
                </div>
                <div class="form-group string required user_lastname">
                  <input class="form-control string required" autocomplete="lastname" required="required" aria-required="true" placeholder="Last name" type="text" name="user[lastname]" id="user_lastname">
                </div>
                <div class="form-group select required user_birth_year birth_date_style"><select class="form-control select required" required="required" aria-required="true" placeholder="Birth Year" name="user[birth_year]" id="user_birth_year">
                  <option value="">Birth Year</option>
                  <option value="2005">2005</option>
                  <option value="2004">2004</option>
                  <option value="2003">2003</option>
                  <option value="2002">2002</option>
                  <option value="2001">2001</option>
                  <option value="2000">2000</option>
                  <option value="1999">1999</option>
                  <option value="1998">1998</option>
                  <option value="1997">1997</option>
                  <option value="1996">1996</option>
                  <option value="1995">1995</option>
                  <option value="1994">1994</option>
                  <option value="1993">1993</option>
                  <option value="1992">1992</option>
                  <option value="1991">1991</option>
                  <option value="1990">1990</option>
                  <option value="1989">1989</option>
                  <option value="1988">1988</option>
                  <option value="1987">1987</option>
                  <option value="1986">1986</option>
                  <option value="1985">1985</option>
                  <option value="1984">1984</option>
                  <option value="1983">1983</option>
                  <option value="1982">1982</option>
                  <option value="1981">1981</option>
                  <option value="1980">1980</option>
                  <option value="1979">1979</option>
                  <option value="1978">1978</option>
                  <option value="1977">1977</option>
                  <option value="1976">1976</option>
                  <option value="1975">1975</option>
                  <option value="1974">1974</option>
                  <option value="1973">1973</option>
                  <option value="1972">1972</option>
                  <option value="1971">1971</option>
                  <option value="1970">1970</option>
                  <option value="1969">1969</option>
                  <option value="1968">1968</option>
                  <option value="1967">1967</option>
                  <option value="1966">1966</option>
                  <option value="1965">1965</option>
                  <option value="1964">1964</option>
                  <option value="1963">1963</option>
                  <option value="1962">1962</option>
                  <option value="1961">1961</option>
                  <option value="1960">1960</option>
                  <option value="1959">1959</option>
                  <option value="1958">1958</option>
                  <option value="1957">1957</option>
                  <option value="1956">1956</option>
                  <option value="1955">1955</option>
                  <option value="1954">1954</option>
                  <option value="1953">1953</option>
                  <option value="1952">1952</option>
                  <option value="1951">1951</option>
                  <option value="1950">1950</option>
                  <option value="1949">1949</option>
                  <option value="1948">1948</option>
                  <option value="1947">1947</option>
                  <option value="1946">1946</option>
                  <option value="1945">1945</option>
                  <option value="1944">1944</option>
                  <option value="1943">1943</option>
                  <option value="1942">1942</option>
                  <option value="1941">1941</option>
                  <option value="1940">1940</option>
                  <option value="1939">1939</option>
                  <option value="1938">1938</option>
                  <option value="1937">1937</option>
                  <option value="1936">1936</option>
                  <option value="1935">1935</option>
                  <option value="1934">1934</option>
                  <option value="1933">1933</option>
                  <option value="1932">1932</option>
                  <option value="1931">1931</option>
                  <option value="1930">1930</option>
                  <option value="1929">1929</option>
                  <option value="1928">1928</option>
                  <option value="1927">1927</option>
                  <option value="1926">1926</option>
                  <option value="1925">1925</option>
                  <option value="1924">1924</option>
                  <option value="1923">1923</option>
                  <option value="1922">1922</option>
                  <option value="1921">1921</option>
                  <option value="1920">1920</option>
                  <option value="1919">1919</option>
                  <option value="1918">1918</option>
                  <option value="1917">1917</option>
                  <option value="1916">1916</option>
                  <option value="1915">1915</option>
                  <option value="1914">1914</option>
                  <option value="1913">1913</option>
                  <option value="1912">1912</option>
                  <option value="1911">1911</option>
                  <option value="1910">1910</option>
                  <option value="1909">1909</option>
                  <option value="1908">1908</option>
                  <option value="1907">1907</option>
                  <option value="1906">1906</option>
                  <option value="1905">1905</option>
                  <option value="1904">1904</option>
                  <option value="1903">1903</option>
                  <option value="1902">1902</option>
                  <option value="1901">1901</option>
                  <option value="1900">1900</option>
                </select>
              </div>

                <fieldset class="form-group radio_buttons required user_gender form-group-valid">
                  <input type="hidden" name="user[gender]" value="">
                  <div class="form-check">
                    <input class="form-check-input is-valid radio_buttons required" autocomplete="gender" required="required" aria-required="true" type="radio" value="male" name="user[gender]" id="user_gender_male">
                    <label class="collection_radio_buttons" for="user_gender_male">Male</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input is-valid radio_buttons required" autocomplete="gender" required="required" aria-required="true" type="radio" value="female" name="user[gender]" id="user_gender_female">
                    <label class="collection_radio_buttons" for="user_gender_female">Female</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input is-valid radio_buttons required" autocomplete="gender" required="required" aria-required="true" type="radio" value="other" name="user[gender]" id="user_gender_other">
                    <label class="collection_radio_buttons" for="user_gender_other">Other</label>
                  </div>
                </fieldset>
              </div>




<!--                             <%= f.input :birth_year,
                            collection: (1900..2005).sort.reverse,
                            required: true,
                            placeholder: "Birth Year",
                            label: false %> -->

              <div class="form-actions">
                <%= f.button :submit, "Sign up", class: "bouton-sign-up button_normal"%>
              </div>
            <% end %>

    </div>

            </div>
        </div>


        <%#= render "devise/shared/links" %>




  </div>

