<div class="navbar_newsfeed title_zonelist">
<!--   <div class="blank">
  </div> -->
      <p>Marry Caropille</p>
</div>

<div class="container">
  <p style="margin-top: 20px; text-align: center; margin-bottom: 0px; font-size: 12px; color:#615858">17:05</p>

    <div class="message_row">
      <div>
        <%= image_tag "marybush.jpg",class:"avatar_message" %>
      </div>
      <div class="card_message_private", style="height:80px" >
          <p  style="margin-top:10px">Hey Benoit! I find the spectacle Quatuor Emerson shared by you interesting!   </p>
      </div>
    </div>


    <div class="message_row">
      <div class="card_message_private", style="color: white; height:65px; background-color:#1B6DA4" >
          <p  style="margin-top:10px">Hi Marry, I think it worth going, I always love this type of music!</p>
      </div>
      <div>
        <%= image_tag "benoit.jpg",class:"avatar_message avatar_left" %>
      </div>
    </div>

     <div class="message_row">
      <div>
        <%= image_tag "marybush.jpg",class:"avatar_message" %>
      </div>
      <div class="card_message_private", style="height:60px" >
          <p  style="margin-top:10px">Yes! And it is at the Opera of Lille, very close to where I live :)</p>
      </div>
    </div>

    <div class="message_row">
      <div class="card_message_private", style="color: white; height:60px; background-color:#1B6DA4" >
          <p  style="margin-top:10px">Me too! It will only cost me 5 minutes' walk LOL</p>
      </div>
      <div>
        <%= image_tag "benoit.jpg",class:"avatar_message avatar_left" %>
      </div>
    </div>

    <div class="message_row">
      <div>
        <%= image_tag "marybush.jpg",class:"avatar_message" %>
      </div>
      <div class="card_message_private", style="height:60px" >
          <p  style="margin-top:10px">So let's go there together next sunday?</p>
      </div>
    </div>

    <div class="message_row">
      <div class="card_message_private", style="color: white; height:45px; background-color:#1B6DA4" >
          <p  style="margin-top:10px">Why not! See you then ;)</p>
      </div>
      <div>
        <%= image_tag "benoit.jpg",class:"avatar_message avatar_left" %>
      </div>
    </div>

</div>

<div class="col-xs-12 col-lg-6 col-lg-offset-3">
    <%= render 'components/navbar_bottom' %>
</div>
