<div class="comment-read-container">

  <!-- COMMENT 1 -->
  <div class="comments">
    <!--  AVATAR -->
    <div class="avatar-comment">
       <%= link_to user_path(comment.user) do %>
        <% if comment.user.avatar_url.blank? == true %>
        <div class="comment_name">
          <%= image_tag("default-avatar.png", class:"avatar_navbar avatar_navbar_show") %>

        </div>

        <% else %>
          <%=  cl_image_tag(comment.user.avatar_url, class:"avatar_navbar avatar_navbar_show") %>
        <% end %>
      <% end  %>
    </div>

    <!-- COMMENT -->

    <div class="comment-read" >
      <p id="comment-read"><span id="name-comment"><%= comment.user.firstname %> <%= comment.user.lastname %></span> <%= comment.content %></p>
    </div>
  </div>

<!-- <br>
<br>
<br> -->
</div>



