<div class="commentForm">
  <%= simple_form_for([@post, @comment], remote: true) do |form| %>
    <%= form.input :content,
                  required: true,
                  autofocus: true %>
    <%= form.input :photo %>
    <%= form.hidden_field :user_id, value: current_user.id %>
    <%= form.hidden_field :post_id, value: @post.id %>
    <%= form.button :submit, class: "submit_comment", id:"click_refresh" %>
  <% end %>
</div>
