 <%= render 'components/navbar_newsfeed' %>
<br>
<div class="container">
  <div class="row posts-feed">

    <div class="col-xs-12 col-lg-6 col-lg-offset-3">
      <%= render 'components/main_card', post: @post %>
    </div>

    <div class="col-xs-12 col-lg-6 col-lg-offset-3">



      <div id="comments_list">
        <% @post.comments.order(created_at: :desc).first(3).each do |comment|  %>
        <%=render 'comment', comment: comment %>
        <% end  %>
    </div>

    <div><%= render 'comments/form' %></div>

    </div>

   <!--  <div class="col-xs-12 col-lg-6 col-lg-offset-3">

    </div> -->

  </div>
</div>

    <div class="col-xs-12 col-lg-6 col-lg-offset-3">
      <%= render 'components/navbar_bottom' %>
    </div>



