<%= render 'components/navbar_newsfeed' %>

<div class="col-xs-12 col-lg-6 col-lg-offset-3">
  <%= render 'components/navbar_bottom' %>
</div>

<div>

</div>
<div class="container_edit_profile">

  <%= simple_form_for(@user) do |f| %>
    <%= f.error_notification %>

    <div class="profile-elements">
      <div class="form-inputs">
        <%= f.input :firstname %>
        <%= f.input :lastname %>
        <%= f.input :birth_year %>
        <p id="profile-picture-label">Profile picture</p>
        <%= f.file_field :avatar_url %>

        <p id="profile-picture-label">Background picture</p>
        <%= f.file_field :background_url %>
      </div>

      <div class="form-actions">
        <div class="finish-edit-profil">
          <%= f.button :submit, "Confirm", class: "button_normal", id: "action-completed"%>
        </div>
      </div>
    </div>

  <% end %>

</div>

