<div class="container">

<h1>Write post card</h1>

<div class="write-post-card">
  <!-- AVATAR -->
  <div class="row">
    <div class="col-xs-1">
      <div class="write-post-avatar">
        <%= image_tag("logo.png", class:"avatar_post")%>
      </div>
    </div>
  </div>
  <!-- WRITE POST  -->
  <div class="row">
    <div class="cols-xs-11">
      <a href="#">
        <div class="write-post-message">
          <p>Write a post...</p>
        </div>
      </a>
    </div>
  </div>
</div>


<h1>Notification Card</h1>

 <div class="notification-card">
   <!-- AVATAR -->

   <div class="row">
     <div class="col-xs-2">
      <div class="avatar-notifications">
        <a href="#">
          <%= image_tag("benoit rond.jpg", class:"avatar_interest")%>
        </a>
      </div>
     </div>
   </div>


   <!-- NAME -->
   <div class="row">
     <div class="col-xs-10">
       <div>
        <a href="#">
          <p id="full-name-notification"><strong>User name</strong> liked your post</p>
        </a>
       </div>

   <!-- HOUR -->
      <div>
        <p id="notification-time-spent">Xh</p>
      </div>

     </div>
   </div>


  <!-- PARAMETERS -->

    <div class="edit-points">
      <a href="#">
        <i class="fas fa-ellipsis-h"></i>
      </a>
    </div>

 </div>

<h1>Main Card with dropdown</h1>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="main-card-newsfeed">

        <!-- AVATAR -->
        <div class="avatar-interest-newsfeed">
          <a href="#">
            <%= image_tag("benoit rond.jpg", class:"avatar_interest")%>
          </a>
        </div>

        <!-- CARD ZONE -->
        <a href="#">
          <div class="card-zone-newsfeed">
            <div class="zone-logo-newsfeed">
            </div>
            <div class="zone-name-newsfeed">
              <div class="name-newsfeed">
                <p>Zone 1</p>
              </div>
            </div>
          </div>
        </a>


        <!-- PARAMETERS -->
        <div class="dropdown points">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <i class="fas fa-ellipsis-h"></i>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><a href="#">Edit</a></li>
          <li><a href="#">Delete</a></li>
        </ul>
      </div>

        <!-- BANDEAU INTEREST -->
        <div class="bandeau-interest">
          <p>Interest</p>
        </div>
        <div id="triangle"></div>

        <!-- Name -->
        <a href="#">
          <p id="full-name-post">User name</p>
        </a>
        <!-- Time spent -->
        <p id="time-spent-post">XX min.</p>
        <!-- message -->
        <p id="post-message">This is my post message</p>

        <!-- PHOTO -->
         <%= image_tag("euratech.jpg", id:"post-picture-newsfeed")%>

        <!-- GOODS & COMMENTS RESULTS -->
          <div class="interaction-results-wrapper">

            <a href="#">
              <p id= "interaction-results-good">X goods</p>
            </a>

            <a href="#">
              <p id= "interaction-results-comment">X comments</p>
            </a>
          </div>


        <!-- DIVIDER -->

        <div class="row">
          <div class="col-xs-12">
            <div class="line"></div>
          </div>
        </div>

        <!-- GOOD COMMENT SHARE INTERATIONS -->


        <div class="interactions-buttons">

          <div id="good">
            <a href="#">
              <div class="row interaction-row">
                <div class="col-xs-3">
                  <i class="far fa-thumbs-up"></i>
                </div>
                <div class="col-xs-3">
                  <p>Good</p>
                </div>
              </div>
            </a>
          </div>

          <div id="comment">
            <a href="#">
              <div class="row interaction-row">
                <div class="col-xs-3">
                  <i class="far fa-comment-dots"></i>
                </div>
                <div class="col-xs-3">
                  <p>Comment</p>

                </div>
              </div>
            </a>
          </div>

          <!-- <div id="share">
            <a href="#">
              <div class="row interaction-row">
                <div class="col-xs-3">

                  <i class="far fa-share-square"></i>
                </div>
                <div class="col-xs-3">
                  <p>Share</p>

                </div>
              </div>
            </a>
          </div> -->

        </div>
      </div>
    </div>
  </div>
</div>

<h1>Main Card</h1>
<div class="row">
  <div class="col-md-6">
      <%= render 'components/main_card' %>
  </div>
</div>

<h1>Divider</h1>
<div class="row">
  <div class="col-md-6">
    <hr class="divider">
  </div>
</div>



<h1>POST COMMENT</h1>

<div class="comment-bar">

  <!--  AVATAR -->
  <div class="avatar-comment">
    <span class="row">
      <a href="#">
        <span class="col-xs-1">
          <%= image_tag("logo.png", class:"avatar_navbar")%>
        </span>
      </a>
  </div>

  <!-- COMMENT -->

  <div class="comment-input">
    <a href="#">
      <span class="col-xs-10">
          <%= form_tag href="#", method: :get do %>
          <%= text_field_tag :query,
            params[:query],
              id: "comment-input",
              placeholder: "Your comment..."
          %>
          <% end %>
        </span>
      </span>
    </a>
  </div>

  <!-- PICTURE PHOTO -->

  <div class="comment-photo-button">
    <a href="#">
        <span class="col-xs-1">
          <i class="fas fa-camera"></i>
        </span>
      </span>
      </span>
    </a>
  </div>
</div>

<h1>ALL COMMENTS</h1>

<div class="all-comments">

</div>



<h1>Avatar post</h1>
<%= image_tag("logo.png", class:"avatar_post")%>

<h1>Avatar profile</h1>
<%= image_tag("logo.png", class:"avatar_profile")%>

<h1>Avatar interest</h1>
<%= image_tag("logo.png", class:"avatar_interest")%>

<h1>Avatar navbar</h1>
<%= image_tag("logo.png", class:"avatar_navbar")%>

<h1>LOGO ZONE</h1>

<div class="container container-card-zone">
  <div class="row">

    <div class="col-xs-4">
      <a href="#">
        <div class="card-zone">
          <div class="zone-logo">
          </div>
          <div class="zone-name">
            <div class="name">
              <p>Zone 1</p>
            </div>
          </div>
        </div>
      </a>
    </div>


    <div class="col-xs-4">
      <a href="#">
        <div class="card-zone">
          <div class="zone-logo">
          </div>
          <div class="zone-name">
            <div class="name">
              <p>Zone 1</p>
            </div>
          </div>
        </div>
      </a>
    </div>


    <div class="col-xs-4">
      <a href="#">
        <div class="card-zone">
          <div class="zone-logo">
          </div>
          <div class="zone-name">
            <div class="name">
              <p>Zone 1</p>
            </div>
          </div>
        </div>
      </a>
    </div>

  </div>
</div>


<h1>INTEREST CARD</h1>

<div class="container container-card-interest">
  <!-- CARD 1 -->
  <div class="row">
    <div class="col-xs-4">
      <!-- insert <div class="card"> -->
        <div class="interest-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">


          <div class="card-description">
            <h2>Sport</h2>
          </div>


        <a class="card-link" href="#" ></a>
      </div>
    </div>

 <!-- CARD 2 -->

    <div class="col-xs-4">
      <!-- insert <div class="card"> -->
        <div class="interest-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">


          <div class="card-description">
            <h2>Sport</h2>
          </div>


        <a class="card-link" href="#" ></a>
      </div>
    </div>

  <!-- CARD 3 -->
    <div class="col-xs-4">
      <!-- insert <div class="card"> -->
        <div class="interest-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">


          <div class="card-description">
            <h2>Sport</h2>
          </div>

        <a class="card-link" href="#" ></a>
      </div>
    </div>
  </div>
</div>

<h1>Navbar sign up</h1>
<div class="row">
  <div class="col-xs-12">
    <div class="navbar_signup">
      <h1>MyZone</h1>
        <div class="navbar_right">
          <a href="#">Sign in</a>&nbsp;&nbsp;&nbsp; <!-- Ces codes sont des espaces -->
          <a href="#">Sign up</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
    </div>
  </div>
</div>


<h1>Navbar enter addresse</h1>
<div class="row">
  <div class="col-xs-12">
    <div class="navbar_enter_addresse">
      <h3>Enter addresse</h3>
    </div>
  </div>
</div>

<h1>Navbar newsfeed home</h1>
<!-- NAVBAR -->
<div class="row">
  <div class="col-xs-12">
    <div class="navbar_newsfeed">
      <h1>MyZone</h1>
        <div class="navbar_right">
          <%= link_to user_path(current_user) do %>
          <%= image_tag 'benoit.jpg', class:"avatar_navbar" %>
          <% end %>&nbsp;&nbsp;&nbsp;
          <%= link_to href: '' do %>
          <%= image_tag 'logout.png', height:29, weight:29 %>
          <% end %>&nbsp;&nbsp;&nbsp;
        </div>
    </div>
  </div>
</div>
<!-- --  -->

<h1>Navbar newsfeed bottom</h1>
<div class="row">
  <div class="col-xs-12">
    <div class="navbar_newsfeed_bottom">
          <%= link_to href: '' do %>
            <i class="fas fa-home"></i>
          <% end %>
          <%= link_to href: '' do %>
            <i class="fas fa-comment-dots"></i>
          <% end %>
          <%= link_to href: '' do %>
            <i class="fas fa-bell"></i>
          <% end %>
    </div>
  </div>
</div>

<h1>Button sign in</h1>
<%= link_to "Sign in", href="#" , class: 'button_sign_in' %>

<h1>Normal Button</h1>
<%= link_to "button", href="#" , class: 'button_normal' %>

<h1>Search on map</h1>
<div class="row map_bar">
  <div class="col-xs-3">
    <%= form_tag href="#", method: :get do %>
      <%= text_field_tag :query,
        params[:query],
          class: "form-control",
          placeholder: "Type an address"
      %>
    <% end %>
  </div>
</div>

<%# <h1>Login input</h1>
<%#<%= simple_form_for @user do |f| %>
 <%# <%= f.input :email, placeholder: 'user@gmail.com' %>
 <%# <%= f.input :password %>
 <%# <%= f.button :submit %>
<%#<% end %>

<h1>profile-card</h1>
<div class="profile-card">
<!--   <div class="row">
    <div class="col-xs-6"> -->
      <div class="zone_left">
        <div class="tag_zone">
          <a href=""><p>Zone 1</p></a>
        </div>
        <div class="interest_margin small_line">
            <b><p>Interests:</p></b> <br>
            <p class="gray">Sports</p> <br>
            <p class="gray">Video Games</p> <br>
            <p class="gray">Music</p> <br>
        </div>
   <!--    </div>
    </div> -->
  </div>
  <!-- <div class="row">
    <div class="col-xs-6"> -->
      <div class="zone_right">
        <%= image_tag("zoneprofile.png", class:"zonepic" )%>
   <!--    </div>
    </div> -->
  </div>
</div>

<h1>Banner</h1>
<div class="container_banner">
  <%= image_tag("wave.jpg", class:"banner")%>
<!--   <div class="banner-content">
    <h1>Le Wagon Berlin</h1>
    <p>Learn to code with us in Berlin</p>
    <a class="btn btn-primary btn-lg">Start now</a>
  </div> -->
</div>

</div>
