<%= render 'components/navbar_dashboard' %>

<!-- <h1>Heatmap</h1> -->

<div class="container-dashboard">
  <div class="heatmap">
    <div id='db_map' style="height: 100vh; width: 100%" data-zone='<%= @zone_data.to_json %>'></div>
  </div>

  <div class="wrapper-all-input">
  <form action="/dashboard_heatmap" method="get">
    <span class="input-title-heatmap">Address</span>
    <div class="input-box address-heatmap">

      <div class="form-group string zone_address">
        <input class="form-control string " data-address="address" autofocus="autofocus" type="text" name="address" id="zone_address" placeholder="Enter a location" autocomplete="off" value="<%= params[:address] %>">
      </div>

    </div>

    <span class="input-title-heatmap">Radius</span>
    <div class="input-box radius-heatmap">
      <div class="form-group integer zone_radius">
      <input class="form-control numeric integer" placeholder="Enter a radius in kilometers (ex: 1000)"data-radius="radius" autofocus="autofocus" type="number" step="1" name="radius" id="zone_radius" value="<%= params[:radius] %>"></div>
    </div>

    <span class="input-title-heatmap">Gender</span>

    <div class="input-box gender-heatmap gender-choices">

      <div class="checkbox-gender-heatmap">
        <input class="hidden" type="checkbox" value="male" name="gender[]" id="post_gender_ids_1">
        <label class="gender-choice" for="post_gender_ids_1">Male
        </label>
      </div>

      <div class="checkbox-gender-heatmap">
        <input class="hidden" type="checkbox" value="female" name="gender[]" id="post_gender_ids_2">
        <label class="gender-choice" for="post_gender_ids_2">Female
        </label>
      </div>

      <div class="checkbox-gender-heatmap">
        <input class="hidden" type="checkbox" value="other" name="gender[]" id="post_gender_ids_3">
        <label class="gender-choice" for="post_gender_ids_3">Other
        </label>
      </div>
    </div>

    <span class="input-title-heatmap">Age</span>
    <div class="input-box age-heatmap">
        <div class="input-age">
          <input placeholder="Min Age" name="minage" value="<%= params[:minage] %>">
        </div>
        <div class="input-age">
          <input placeholder="Max Age" name="maxage" value="<%= params[:maxage] %>">
        </div>
    </div>


    <span class="input-title-heatmap">Interest</span>
<!--     <div class="input-box interest-heatmap" id="interest-heatmap"> -->
    <div class="int-choices">
      <% InterestTag.all.each do |interest| %>

        <input class="hidden" type="checkbox" value="<%= interest.id %>" name="interest_input[]" id="post_interest_ids_<%= interest.id %>" <%= 'checked' if params[:interest_input].nil? == false && params[:interest_input].include?(interest.id.to_s) %>>

        <label class="int-choice" for="post_interest_ids_<%= interest.id %>"><%= interest.title %>
        </label>
      <% end %>
    </div>

    <input type="submit" value="Submit" class="button_normal">
   </form>
  </div>
  
</div>

<%= javascript_pack_tag 'db_map' %>

<!-- GRAPHIQUES -->
<div class="container-all-graph">
  <!-- //SORTING FLAT -->

  <div class="sorting-flat-container">

    <p class="graph-type-title">SORTING FLAT</p>
    <div class="sorting-flat-age-range">
      <span class="graph-title">Age range :</span> histogram (y: volume x:age range)
    </div>

    <div class="sorting-flat-gender">
      <span class="graph-title">Gender :</span> Camembert %
    </div>

    <div class="sorting-flat-interest">
      <span class="graph-title">Interest : </span>Camembert %
    </div>

  </div>



  <!-- //CROSS SORT -->

  <div class="cross-sort-container">

    <p class="graph-type-title">CROSS SORT</p>

    <div class="interest-and-gender">
      <span class="graph-title">Interest / Gender</span>
    </div>

    <div class="interest-and-age">
      <span class="graph-title">Interest / Age</span>
    </div>

  </div>
</div>


