<!DOCTYPE html>
<html>
  <head>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js' %>
  </head>


<body>
<%= render 'components/navbar_dashboard' %>

<!-- <h1>Heatmap</h1> -->

<div class="container-dashboard">
  <div class="heatmap">

    <% zone_data_json = [] %>
    <% @zone_data.each do |d| %>
      <% zone_data_json << d.to_json %>
    <% end %>
    <div id='db_map' style="height: 100vh; width: 100%" data-zone='<%= zone_data_json.to_json %>'></div>

  </div>

  <div class="wrapper-all-input">
  <form action="/dashboard_heatmap" method="get">
    <span class="input-title-heatmap">Address</span>
    <div class="input-box address-heatmap">

      <div class="form-group string zone_address">
        <input class="form-control string " data-address="address" autofocus="autofocus" type="text" name="address" id="zone_address" placeholder="Enter a location" autocomplete="off" value="<%= params[:address] %>">
      </div>

    </div>

    <span class="input-title-heatmap">Radius</span>
    <div class="input-box radius-heatmap">
      <div class="form-group integer zone_radius">
      <input class="form-control numeric integer" placeholder="Enter a radius in kilometers (ex: 1000)"data-radius="radius" autofocus="autofocus" type="number" step="1" name="radius" id="zone_radius" value="<%= params[:radius] %>"></div>
    </div>

    <span class="input-title-heatmap">Gender</span>

    <div class="input-box gender-heatmap gender-choices">

      <div class="checkbox-gender-heatmap">
        <input class="hidden" type="checkbox" value="male" name="gender[]" id="post_gender_ids_1">
        <label class="gender-choice" for="post_gender_ids_1">Male
        </label>
      </div>

      <div class="checkbox-gender-heatmap">
        <input class="hidden" type="checkbox" value="female" name="gender[]" id="post_gender_ids_2">
        <label class="gender-choice" for="post_gender_ids_2">Female
        </label>
      </div>

      <div class="checkbox-gender-heatmap">
        <input class="hidden" type="checkbox" value="other" name="gender[]" id="post_gender_ids_3">
        <label class="gender-choice" for="post_gender_ids_3">Other
        </label>
      </div>
    </div>

    <span class="input-title-heatmap">Age</span>
    <div class="input-box age-heatmap">
        <div class="input-age">
          <input placeholder="Min Age" name="minage" value="<%= params[:minage] %>">
        </div>
        <div class="input-age">
          <input placeholder="Max Age" name="maxage" value="<%= params[:maxage] %>">
        </div>
    </div>


    <span class="input-title-heatmap">Interest</span>
<!--     <div class="input-box interest-heatmap" id="interest-heatmap"> -->
    <div class="int-choices">
      <% InterestTag.all.each do |interest| %>

        <input class="hidden" type="checkbox" value="<%= interest.id %>" name="interest_input[]" id="post_interest_ids_<%= interest.id %>" <%= 'checked' if params[:interest_input].nil? == false && params[:interest_input].include?(interest.id.to_s) %>>

        <label class="int-choice" for="post_interest_ids_<%= interest.id %>"><%= interest.title %>
        </label>
      <% end %>
    </div>

    <input type="submit" value="Submit" class="button_normal">
   </form>
  </div>

</div>

<%= javascript_pack_tag 'db_map' %>

<!-- GRAPHIQUES -->
<div class="container-all-graph">
  <!-- //SORTING FLAT -->
  <div class="sorting-flat-container">

    <p class="graph-type-title">SORTING FLAT</p>
    <div class="sorting-flat-age-range">
      <span class="graph-title">Age range</span>
      <% sorting_age_collection = {
        no_value: @zone_data.select { |d| d[:user_birth_year].nil? },
        less_than_15: @zone_data.select { |d| !d[:user_birth_year].nil? && d[:user_birth_year] >= 2003 },
        young: @zone_data.select { |d| !d[:user_birth_year].nil? && d[:user_birth_year] < 2003 && d[:user_birth_year] >= 1993 },
        mid: @zone_data.select { |d| !d[:user_birth_year].nil? && d[:user_birth_year] < 1993 && d[:user_birth_year] >= 1983 },
        mid_old: @zone_data.select { |d| !d[:user_birth_year].nil? && d[:user_birth_year] < 1983 && d[:user_birth_year] >= 1973 },
        old: @zone_data.select { |d| !d[:user_birth_year].nil? && d[:user_birth_year] < 1973 && d[:user_birth_year] >= 1963 },
        more_than_55: @zone_data.select { |d| !d[:user_birth_year].nil? && d[:user_birth_year] < 1963 }
      }
       %>
       <% sorting_age_data = {} %>
       <% sorting_age_collection.each do |key, value| %>
        <% sorting_age_data[key] = value.count %>
       <% end %>
      <canvas id="sortingAge" data-age=<%= sorting_age_data.to_json %>></canvas>
    </div>

    <div class="sorting-flat-gender">
      <span class="graph-title">Gender</span>
      <% sorting_gender_data = {
        male: @zone_data.select { |d| d[:user_gender] == "male"}.count,
        female: @zone_data.select { |d| d[:user_gender] == "female"}.count,
        other: @zone_data.select { |d| d[:user_gender] == "other"}.count
      } %>
      <canvas id="sortingGender" data-gender=<%= sorting_gender_data.to_json %>></canvas>
    </div>


    <div class="sorting-flat-interest">
      <span class="graph-title">Interest</span>
      <%
        sorting_interest_data = {}
        InterestTag.all.each do |i|
          sorting_interest_data[i.title.downcase.parameterize.underscore.to_sym] = @zone_data.select { |d| d[:zone_interests].include?(i.id.to_i) }.count
        end
       %>
       <canvas id="sortingInterest" data-interest=<%= sorting_interest_data.to_json %>></canvas>
    </div>
  </div>



  <!-- //CROSS SORT -->

  <div class="cross-sort-container">

    <p class="graph-type-title">CROSS SORT</p>

    <div class="interest-and-gender">
      <span class="graph-title">Interest / Age</span>
      <%
        cross_interest_age_data = {}
        sorting_age_collection.each do |key, value|
          cross_interest_age_data[key] = {}
          InterestTag.all.each do |i|
            i_sym = i.title.downcase.parameterize.underscore.to_sym
            cross_interest_age_data[key][i_sym] = value.select { |d| d[:zone_interests].include?(i.id.to_i) }.count
          end
        end
      %>
      <canvas id="crossInterestAge" data-interest-age=<%= cross_interest_age_data.to_json %>></canvas>
    </div>

    <div class="interest-and-age">
      <span class="graph-title">Interest / Gender</span>
      <%
        cross_interest_gender_data = {}
        ["male", "female", "other"].each do |gender|
          cross_interest_gender_data[gender.to_sym] = {}
          InterestTag.all.each do |i|
            i_sym = i.title.downcase.parameterize.underscore.to_sym
            cross_interest_gender_data[gender.to_sym][i_sym] = @zone_data.select { |d| d[:user_gender] == gender }.select{ |d| d[:zone_interests].include?(i.id.to_i) }.count
          end
        end
       %>
       <canvas id="crossInterestGender" data-interest-gender=<%= cross_interest_gender_data.to_json %>></canvas>
    </div>

  </div>
</div>
</body>

<%= javascript_pack_tag 'charts' %>

