<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>


<% if user_signed_in? %>
  <h1><%= current_user.id %></h1>
  <%= link_to "Publish Post", new_post_path %>

  <% Post.last(5).each do |post| %>
<!-- Here should be all the posts published in the zone (whose epicenter is inside the zone)
 -->
    <ul>
     <li>Content:<%= post.content %></li>
     <li>Photo of post<%= post.photo if post.photo.blank? == false %></li>
     <li>Zone title<%= post.zone.title %></li>
     <li>Zone interest<%= post.interest_tag.title %></li>
     <li>Post author avatar<%= post.user.avatar_url %><%= link_to "Avatar", user_path(post.user) %></li>
     <li>Post author name<%= post.user.firstname + ' ' + post.user.lastname %></li>
     <li>Post update time <%= post.updated_at %></li>
     <li><%= post.goods.where(is_good: true).size %> goods</li>
     <li><%= post.comments.size %> comments</li>
    </ul>
    <p id="comment_counter"><%= pluralize post.comments.size, "comment" %></p>
    <p><span id="good_counter_<%= post.id %>"><%= post.goods.where(is_good: true).size %></span> good</p>

    <%= link_to good_post_path(post, is_good: true), method: :post, remote: true do %>
      <i class="fas fa-thumbs-up" id="submmit_good" onclick="sendTheAJAX()"></i>
      <span id="test1"></span>
    <% end %>

   <!--  <script>
      var b = 1;
      function sendTheAJAX(){
        if (b%2 === 1) {
          document.getElementById('good_counter_<%= post.id %>').textContent = parseInt(document.getElementById('good_counter').textContent) + 1
        }
        else {
          document.getElementById('good_counter_<%= post.id %>').textContent = parseInt(document.getElementById('good_counter').textContent) - 1
        };
        b += 1;
      }
    </script> -->

    <%= link_to "Add comment", '#', class: "add_comment", data: { 'post-id' => post.id } %>

    <div class="commentForm" style="display: none" data-post-id="<%= post.id %>">
      <%= simple_form_for([post, Comment.new], remote: true) do |form| %>
        <%= form.input :content,
                      required: true,
                      autofocus: true %>
        <%= form.input :photo %>
        <%= form.button :submit, class: "submit_comment" %>
      <% end %>
    </div>


    <ul>
      <% post.comments.order(created_at: :desc).first(3).each do |comment|  %>
      <li>
        <%= comment.user.id %> | <%= comment.user.firstname %> | <%= comment.user.lastname %>
        <%= comment.content %>
        <%= comment.photo if comment.photo.blank? == false %>
      </li>
      <% end  %>
    </ul>

  <% end %>
<% end  %>
