<% if user_signed_in? %>

<!-- SIGNED IN  -->
  <%= render 'components/navbar_newsfeed' %>

    <div class="container">
      <div class="row posts-feed">
        <div class="col-xs-12 col-lg-6 col-lg-offset-3">
          <%= render 'components/input_write_post.html.erb' %>
        </div>

        <% array = [] %>
        <% current_user.zones.each do |my_zone| %>
          <% Zone.near(my_zone.address, my_zone.radius/1000).each do |in_zone| %>
            <% in_zone.posts.where(interest_tag: my_zone.interest_tags).order(updated_at: :desc).uniq.each do |post| %>
              <% array << post %>
            <% end %>
          <% end %>
        <% end %>

        <% array.sort_by{ |p| p.updated_at }.reverse.uniq.each do |post| %>
          <div class="col-xs-12 col-lg-6 col-lg-offset-3">
            <%= render 'components/main_card', post: post %>
          </div>
        <% end %>
      </div>

    </div>


  <!-- -- -->

              <br>
              <br>
              <br>

  <!-- NAVBAR BOTTOM -->
  <div class="col-xs-12 col-lg-6 col-lg-offset-3">
    <%= render 'components/navbar_bottom' %>
  </div>


<% else %> <!-- user without account -->

      <div class="navbar_signup">
      <%= link_to root_path do %>
       <%= image_tag("my_zone_logo.svg", class: "logo_myzone" ) %>
      <% end %>
          <div class="navbar_right">
            <a href="/users/sign_in">Sign in</a>&nbsp;&nbsp;&nbsp;
            <a href="/users/sign_up">Sign up</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </div>
      </div>

</div>


<!-- content -->
  <div class="banner_landin" style="background-image: linear-gradient(-225deg, rgba(196, 196, 196, 0.8) 50%, rgba(196, 196, 196, 0.8) 50%), url(<%= image_path 'background_signin.jpg'%>);">
    <div class="banner_content">
      <h5>Get connected in local</h5>
        <br>
          <br>
      <a href="/users/sign_up" class="button_sign_in">Sign up</a>
    </div>
  </div>


  <div class="banner_introduction">
    <%= image_tag 'circle.svg', class:"icon_circle"%>
    <h2>Create your zones</h2>
    <%= image_tag 'map.png', class:"photo_landin"%>
  </div>

  <div class="banner_introduction">
    <%= image_tag 'circle.svg', class:"icon_circle"%>
    <h2>Define your zone's interests</h2>
    <%= image_tag 'chooseinteres.png', class:"photo_landin"%>
  </div>

   <div class="banner_introduction">
    <%= image_tag 'circle.svg', class:"icon_circle"%>
      <h2>You're all set!</h2>
      <%= image_tag 'pubpost.png', class:"photo_landin"%>
  </div>

  <div class="banner_introduction_last">
    <br>
      <h2>You are now connected in your zone(s) !</h2>
      <br>

      <a href="/users/sign_up" class="button_sign_in">Sign up</a>
      <br>
      <div class="container_contact">
      <div><h2><b>Contact us</b></h2></div>
      <div><h6>guanguan.hu@yahoo.com</h6></div>
      <div><h6>zhijian.zou@edhec.com</h6></div>
      <div><h6>benoit.legendre@edhec.com</h6></div>
      <div><h6>This web-app was made with <i class="fas fa-heart"></i> at Lewagon - Lille - Batch 179 </h6></div>
      </div>
  </div>


<% end  %>

