<h1>Pages#home</h1>


<p>Find me in app/views/pages/home.html.erb</p>


<% if user_signed_in? %>

<!-- SIGNED IN  -->
<!-- NAVBAR -->
<div class="row">
  <div class="col-xs-12">
    <div class="navbar_newsfeed">
      <h1>MyZone</h1>
        <div class="navbar_right">
          <%= link_to user_path(current_user) do %>
          <%= image_tag 'benoit.jpg', class:"avatar_navbar" %>
          <% end %>&nbsp;&nbsp;&nbsp;
          <%= link_to href: '' do %>
          <%= image_tag 'logout', height:29, weight:29 %>
          <% end %>&nbsp;&nbsp;&nbsp;
        </div>
    </div>
  </div>
</div>

<!-- --  -->
  <!-- WRITE A POST -->
  <div class="write-post-card">
    <!-- AVATAR -->
    <div class="row">
      <div class="col-xs-1">
        <div class="write-post-avatar">
          <%= image_tag("logo", class:"avatar_post")%>
        </div>
      </div>
    </div>
    <!-- WRITE  -->
    <div class="row">
      <div class="cols-xs-11">
        <a href="#">
          <div class="write-post-message">
            <p>
            <%= link_to "Write a post...", new_post_path %>
            </p>
          </div>
        </a>
      </div>
    </div>
  </div>
  <!-- -- -->

<!-- MAIN CARD -->
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="main-card-newsfeed">

          <!-- AVATAR -->
          <div class="avatar-interest-newsfeed">
            <a href="#">
              <%= image_tag("benoit rond.jpg", class:"avatar_interest")%>
            </a>
          </div>

          <!-- CARD ZONE -->
          <a href="#">
            <div class="card-zone-newsfeed">
              <div class="zone-logo-newsfeed">
              </div>
              <div class="zone-name-newsfeed">
                <div class="name-newsfeed">
                  <p>Zone 1</p>
                </div>
              </div>
            </div>
          </a>

          <!-- BANDEAU INTEREST -->
          <div class="bandeau-interest">
            <p>Interest</p>
          </div>
          <div id="triangle"></div>

          <!-- Name -->
          <a href="#">
            <p id="full-name-post">User name</p>
          </a>
          <!-- Time spent -->
          <p id="time-spent-post">XX min.</p>
          <!-- message -->
          <p id="post-message">This is my post message</p>

          <!-- PHOTO -->
           <%= image_tag("euratech.jpg", id:"post-picture-newsfeed")%>

          <!-- GOODS & COMMENTS RESULTS -->
            <div class="interaction-results-wrapper">

              <a href="#">
                <p id= "interaction-results-good">X goods</p>
              </a>

              <a href="#">
                <p id= "interaction-results-comment">X comments</p>
              </a>
            </div>


          <!-- DIVIDER -->

          <div class="row">
            <div class="col-xs-12">
              <div class="line"></div>
            </div>
          </div>

          <!-- GOOD COMMENT SHARE INTERATIONS -->


          <div class="interactions-buttons">

            <div id="good">
              <a href="#">
                <div class="row interaction-row">
                  <div class="col-xs-3">
                    <i class="far fa-thumbs-up"></i>
                  </div>
                  <div class="col-xs-3">
                    <p>Good</p>
                  </div>
                </div>
              </a>
            </div>

            <div id="comment">
              <a href="#">
                <div class="row interaction-row">
                  <div class="col-xs-3">
                    <i class="far fa-comment-dots"></i>
                  </div>
                  <div class="col-xs-3">
                    <p>Comment</p>

                  </div>
                </div>
              </a>
            </div>

            <div id="share">
              <a href="#">
                <div class="row interaction-row">
                  <div class="col-xs-3">

                    <i class="far fa-share-square"></i>
                  </div>
                  <div class="col-xs-3">
                    <p>Share</p>

                  </div>
                </div>
              </a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- -- -->

  <!-- NAVBAR BOTTOM -->
  <div class="row">
    <div class="col-xs-12">
      <div class="navbar_newsfeed_bottom navbar-fixed-bottom">
            <%= link_to href: '' do %>
              <i class="fas fa-home"></i>
            <% end %>
            <%= link_to href: '' do %>
              <i class="fas fa-comment-dots"></i>
            <% end %>
            <%= link_to href: '' do %>
              <i class="fas fa-bell"></i>
            <% end %>
      </div>
    </div>
  </div>
  <!-- -- -->

  <h1><%= current_user.id %></h1>
  <% Post.all.each do |post| %>
<!-- Here should be all the posts published in the zone (whose epicenter is inside the zone)
 -->
    <p><%= post.content %></p>
    <p><%= post.photo if post.photo.blank? == false %></p>
    <%= pluralize post.comments.size, "comment" %>
    <%= pluralize post.goods.where(is_good: true).size, "good" %>

    <%= link_to good_post_path(post, is_good: true), method: :post, remote: true do %>
      <i class="fas fa-thumbs-up"></i>
    <% end %>

    <ul>
      <% post.comments.order(created_at: :desc).first(3).each do |comment|  %>
      <li>
        <%= comment.user.id %> | <%= comment.user.firstname %> | <%= comment.user.lastname %>
        <%= comment.content %>
        <%= comment.photo if comment.photo.blank? == false %>
      </li>
      <% end  %>
    </ul>
 <!--    <div class="commentForm">
      <% comment = Comment.new %>
      <%= simple_form_for([post, comment], remote: true) do |form| %>
        <%= form.input :content,
                      required: true,
                      autofocus: true %>
        <%= form.input :photo %>
        <%= form.hidden_field :user_id, value: current_user.id %>
        <%= form.hidden_field :post_id, value: post.id %>
        <%= form.button :submit, class: "submit_comment" %>
      <% end %>

    </div> -->



  <% end %>
  <% else %>

<% end  %>
