

<% if user_signed_in? %>
  <h1><%= current_user.id %></h1>
  <%= link_to "Publish Post", new_user_post_path(current_user) %>
  <%= link_to "Avatar", user_path(current_user) %>
  <% Post.all.each do |post| %>
<!-- Here should be all the posts published in the zone (whose epicenter is inside the zone)
 -->
    <p><%= post.content %></p>
    <p><%= post.photo if post.photo.blank? == false %></p>
    <%= pluralize post.comments.size, "comment" %>
    <%= pluralize post.goods.size, "good" %>
    <ul>
      <% post.comments.order(created_at: :desc).first(3).each do |comment|  %>
      <li>
        <%= comment.user.id %> | <%= comment.user.firstname %> | <%= comment.user.lastname %>
        <%= comment.content %>
      </li>
      <% end  %>
    </ul>
<!--     <%= link_to "Add a good", new_user_post_good_path(post.user, post) %> -->
    <div class="commentForm">
      <% comment = Comment.new %>
      <%= simple_form_for([post.user, post, comment], remote: true) do |form| %>
        <%= form.input :content,
                      required: true,
                      autofocus: true %>
        <%= form.input :photo %>
        <%= form.hidden_field :user_id, value: post.user.id %>
        <%= form.hidden_field :post_id, value: post.id %>
        <%= form.button :submit %>
      <% end %>
    </div>
  <% end %>

  <% else %> <!-- user without account -->
<!-- Page 1 -->
<!-- navbar -->
  <div class="row">
    <div class="col-xs-12">
      <div class="navbar_signup">
        <h1>MyZone</h1>
          <div class="navbar_right">
            <a href="#">Sign in</a>&nbsp;&nbsp;&nbsp; <!-- Ces codes sont des espaces -->
            <a href="#">Sign up</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </div>
      </div>
    </div>
  </div>


<!-- content -->
  <div class="banner_landin" style="background-image: linear-gradient(-225deg, rgba(196, 196, 196, 0.8) 50%, rgba(196, 196, 196, 0.8) 50%), url(<%= image_path 'background_signin'%>);">
    <div class="banner_content">
      <h5>Get connected in local</h5>
        <br>
          <br>
      <a href="" class="button_sign_in">Sign up</a>
    </div>
  </div>
  <!-- <div class="container_landin_create">
    <div class="container_landin_create_left">
      <div></div>
      <div><%= image_tag 'icon_landin', class:"icon_landin" %></div>
    </div>
    <div class="container_landin_create_middle">
      <h4><b>Create your zone(s)</b></h4>
      <h4>(private)</h4>
    </div>
    <div class="container_landin_create_right">
      <%= image_tag 'map_signin_example', style:"border-radius:15px"%>
    </div>
  </div> -->
<!-- Page à afficher en scroll   -->
<!-- define interests -->
  <!-- <div class="container_landin_create">
      <div class="container_landin_create_left">
        <div></div>
        <div><%= image_tag 'scrollup', class:"icon_scroll" %></div>
      </div>
      <div class="container_landin_create_middle">
        <h4><b>Define your zone's interests</b></h4>
      </div>
      <div class="container_landin_create_right">
        <%= image_tag 'map_signin_example', style:"border-radius:15px"%>
      </div>
    </div> -->


<!-- you are set -->
<!--   <div class="container_landin_create">
      <div class="container_landin_set_left">
        <div></div>
        <div><%= image_tag 'scrollup', class:"icon_scroll" %></div>
      </div>
      <div class="container_landin_create_middle">
        <h4><b>Define your zone's interests</b></h4>
      </div>
      <div class="container_landin_create_right">
        <%= image_tag 'map_signin_example', style:"border-radius:15px"%>
      </div>
    </div> -->

  <div class="banner_introduction">
    <%= image_tag 'circle', class:"icon_circle"%>
    <h2>Create your zones</h2>
    <%= image_tag 'zone', class:"photo_landin"%>
  </div>

  <div class="banner_introduction">
    <%= image_tag 'circle', class:"icon_circle"%>
    <h2>Define your zone's interests</h2>
    <%= image_tag 'zone1', class:"photo_landin"%>
  </div>

   <div class="banner_introduction">
    <%= image_tag 'circle', class:"icon_circle"%>
      <h2>You're all set!</h2>
      <%= image_tag 'newsfeed', class:"photo_landin"%>
  </div>

  <div class="banner_introduction_last">
      <h2>You're all set!</h2>
      <h6>You're connected with people who share the same interests in your zones!</h6>
      <br>
      <a href="" class="button_sign_in">Sign up</a>
      <br>
  </div>


<% end  %>

