<div class="signin_content">
  <div class="container_signin">
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs labelclass">
        <%= f.input :email, required: true, autofocus: true,
                    input_html: { autocomplete: "email", class: "autolabel"} %>
        <%= f.input :password,
                    required: true,
                    input_html: { autocomplete: "current-password" } %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        <%= f.button :submit, class: "button_normal", value: "Log in" %>
        <br>
        <div>
           <%= link_to "Forget your password?", new_user_password_path %>
        </div>
        <div>
           <%= link_to "Create an account", new_user_registration_path %>
        </div>


      </div>
      <% end %>
    </div>
</div>
</div>
