<div class="navbar_newsfeed title_zonelist">
      <p>Edit your zone</p>
</div>

<div class="container">
<%= simple_form_for([@zone], html: {id: 'simple_form_creation_zone'}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title,
    placeholder: "Zone title (ex: Home)"
    %>

    <%= f.input :address,
    as: :string,
    id: 'zone_address' %>

    <%= f.input :radius %>

      <div id='creation_zone' class="zone-design" style='height: 250px; width:100%;'>
      </div>

<div class="form-check">
  <div class="container-interest-all">
      <div class="row">
      <% @interest_tags.each do |interest| %>

        <div class="col-xs-4 col-md-3 col-lg-2">
          <div class="wrapper-card-interest">
            <input id="interest_choice_<%= interest.id %>" required="required" aria-required="true" type="checkbox" value="<%= interest.id %>" name="zone[interest_tag_ids][]" >
              <label for="interest_choice_<%= interest.id %>">
                <%= image_tag interest.photo, class:"zone_photo" %>
              <div class="interest-title">
               <%= interest.title %>
              </div>
            </label>
          </div>

        </div>
           <% end %>
      </div>


  </div>
    </div>


    <br>
    <%= f.button :submit, "Finish", class:"button_normal" %>
    <br>
    <br>
    <br>
    <br>
    <% end %>


     </div>
      </div>

 <%= javascript_pack_tag 'zone_map' %>

    <div class="col-xs-12 col-lg-6 col-lg-offset-3">
      <%= render 'components/navbar_bottom' %>
    </div>
