<div class="navbar_newsfeed title_zonelist">
      <p>Edit your zone</p>
</div>

<div class="container">
<%= simple_form_for([@zone], html: {id: 'simple_form_creation_zone'}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title,
    label: "Name your zone",
    placeholder: "Home, Work, School..."
    %>

    <%= f.input :address,
    as: :string,
    id: 'zone_address' %>

    <%#= f.input :radius,
    placeholder: "Enter a radius less than 1000m" %>

    <fieldset class="form-group radio_buttons required zone_radius">
      <label class="form-control-label string required" for="zone_address">Choose its size <abbr title="required"></abbr></label>
      <div class="input-box-radius gender-heatmap radius-choices">
        <input type="hidden" name="zone[radius]" value="">
        <div class="form-check">
          <div class="checkbox-gender-heatmap">
            <input class="hidden form-check-input radio_buttons required" data-radius="radius" autofocus="autofocus" required="required" aria-required="true" type="radio" value="250" name="zone[radius]" id="zone_radius_250" checked=<%= 'checked' if 250 == @zone.radius.to_i %>>
            <label class="radius-choice collection_radio_buttons" for="zone_radius_250">250</label>
          </div>
        </div>
        <div class="form-check">
          <div class="checkbox-gender-heatmap">
            <input class="hidden form-check-input radio_buttons required" data-radius="radius" autofocus="autofocus" required="required" aria-required="true" type="radio" value="500" name="zone[radius]" id="zone_radius_500" checked=<%= 'checked' if 500 == @zone.radius.to_i %>>
            <label class="radius-choice collection_radio_buttons" for="zone_radius_500">500</label>
          </div>
        </div>
        <div class="form-check">
          <div class="checkbox-gender-heatmap">
            <input class="hidden form-check-input radio_buttons required" data-radius="radius" autofocus="autofocus" required="required" aria-required="true" type="radio" value="750" name="zone[radius]" id="zone_radius_750" checked=<%= 'checked' if 750 == @zone.radius.to_i %>>
            <label class="radius-choice collection_radio_buttons" for="zone_radius_750">750</label>
          </div>
        </div>
        <div class="form-check">
          <div class="checkbox-gender-heatmap">
            <input class="hidden form-check-input radio_buttons required" data-radius="radius" autofocus="autofocus" required="required" aria-required="true" type="radio" value="1000" name="zone[radius]" id="zone_radius_1000" checked=<%= 'checked' if 1000 == @zone.radius.to_i %>>
            <label class="radius-choice collection_radio_buttons" for="zone_radius_1000">1000</label>
          </div>
        </div>
    </div>
    </fieldset>

      <div id='creation_zone' class="zone-design" style='height: 250px; width:100%;'>
      </div>

<div class="form-check">
  <div class="container-interest-all">
      <div class="row">
      <% @interest_tags.each do |interest| %>

        <div class="col-xs-4 col-md-3 col-lg-2">
          <div class="wrapper-card-interest">
            <% @zone.interest_tags.each do |z| %>
              <% if z == interest %>
                <input id="interest_choice_<%= interest.id %>" required="required" aria-required="true" type="checkbox" value="<%= interest.id %>" checked="checked" name="zone[interest_tag_ids][]" >
                <label for="interest_choice_<%= interest.id %>">
              <% else %>
                <input id="interest_choice_<%= interest.id %>" required="required" aria-required="true" type="checkbox" value="<%= interest.id %>" name="zone[interest_tag_ids][]" >
                <label for="interest_choice_<%= interest.id %>">
              <% end  %>
            <% end %>
              <%= image_tag interest.photo, class:"zone_photo" %>
              <div class="interest-title">
               <%= interest.title %>
              </div>
            </label>
          </div>

        </div>
           <% end %>
      </div>


  </div>
    </div>


    <br>
    <%= f.button :submit, "Finish", class:"button_normal", id: "action-completed" %>
    <br>
    <br>
    <br>
    <br>
    <% end %>


     </div>
      </div>

 <%= javascript_pack_tag 'zone_map' %>

    <div class="col-xs-12 col-lg-6 col-lg-offset-3">
      <%= render 'components/navbar_bottom' %>
    </div>
