<ul>
   <% @zones.order(created_at: :desc).each do |zone| %>
  <li>
    <%= zone.title %> | <%= zone.latitude %> | <%= zone.longitude %> | <%= zone.radius %>
    <% marker =
     {
        lat: zone.latitude,
        lng: zone.longitude,
        div_id: "zone_map_#{zone.id}",
        radius: zone.radius,
        title: zone.title
        # infoWindow: { content: render_to_string(partial: "/flats/map_box", locals: { flat: flat }) }
      } %>
    <div
      class="zone_maps";
      id="zone_map_<%= zone.id %>";
      style="width: 100%;
      height: 600px;"
      data-marker="<%= marker.to_json %>"
    ></div>
    <li>
      <% zone.interest_tags.each do |interest_tag| %>
      <%= interest_tag.title %>
    <% end  %>
    </li>

    <%= link_to "Edit", edit_zone_path(zone) %>
    <%= link_to "Delete", zone_path(zone), method: :delete %>
  </li>
  <% end %>
</ul>

<p><%= link_to "Add a zone", new_zone_path %></p>
<p><%= link_to "Finish and back to my profile", user_path(@user) %></p>

<%= javascript_pack_tag 'map' %>
