<div class="navbar_newsfeed title_zonelist">
      <p>Create a zone</p>
</div>

<div class="container">
  <%= simple_form_for([@zone], html: {id: 'simple_form_creation_zone'}) do |f| %>
  <%= f.error_notification %>

    <%= f.input :title,
                  required: true,
                  hint: false,
                  as: :string,
                  label: "Name your zone",
                  autofocus: true,

                  input_html: { data: { title: :title} }
                  %>

    <%= f.input :address,
                  as: :string,
                  hint: false,
                  required: true,
                  label: "Type your address",
                  autofocus: true,
                  input_html: { data: { address: :address} }
                  %>
    <%= f.input :radius,
                  as: :integer,
                  hint: false,
                  label: "Choose the radius",
                  required: true,
                  autofocus: true,
                  input_html: { data: { radius: :radius} }
                  %>




    <div id='creation_zone' style='height: 250px; width:100%;'>

    </div>



 -->
    <div class="form-check zones_select">
      <% @interest_tags.each do |interest| %>
        <div class="interest-select">
          <input id="interest_choice_<%= interest.id %>" required="required" aria-required="true" type="checkbox" value="<%= interest.id %>"
           name="zone[interest_tag_ids][]" >
            <label for="interest_choice_<%= interest.id %>">
              <%= image_tag interest.photo, class:"zone_photo" %>
            <div>
              <%= interest.title %>
            </div>
          </label>
        </div>
      <% end %>
    </div>
    <br>
    <%= f.button :submit, "Create", class:"button_normal" %>
  <% end %>

  </div>





 <%= javascript_pack_tag 'zone_map' %>

