<div class="navbar_newsfeed title_zonelist">
      <p>Create a zone</p>
</div>

<div class="container">
  <%= simple_form_for([@zone], html: {id: 'simple_form_creation_zone'}) do |f| %>
  <%= f.error_notification %>

    <%= f.input :title,
                  required: true,
                  hint: false,
                  as: :string,
                  label: "Name your zone",
                  autofocus: true,
                  input_html: { data: { title: :title} },
                  placeholder: "Home, Work, School..."
                  %>
    <%= f.input :address,
                  as: :string,
                  hint: false,
                  required: true,
                  label: "Type a location",
                  autofocus: true,
                  input_html: { data: { address: :address} },
                  placeholder: "Avenue des Saules, 59160 Lille ",
                  id: 'zone_address'
                  %>

                  <fieldset class="form-group radio_buttons required zone_radius">
                    <label class="form-control-label string required" for="zone_address">Choose its size <abbr title="required"></abbr></label>
                    <div class="input-box-radius gender-heatmap radius-choices">
                      <input type="hidden" name="zone[radius]" value="">
                      <div class="form-check">
                        <div class="checkbox-gender-heatmap">
                          <input class="hidden form-check-input radio_buttons required" data-radius="radius" autofocus="autofocus" required="required" aria-required="true" type="radio" value="250" name="zone[radius]" id="zone_radius_250">
                          <label class="radius-choice collection_radio_buttons" for="zone_radius_250">250</label>
                        </div>
                      </div>
                      <div class="form-check">
                        <div class="checkbox-gender-heatmap">
                          <input class="hidden form-check-input radio_buttons required" data-radius="radius" autofocus="autofocus" required="required" aria-required="true" type="radio" value="500" name="zone[radius]" id="zone_radius_500">
                          <label class="radius-choice collection_radio_buttons" for="zone_radius_500">500</label>
                        </div>
                      </div>
                      <div class="form-check">
                        <div class="checkbox-gender-heatmap">
                          <input class="hidden form-check-input radio_buttons required" data-radius="radius" autofocus="autofocus" required="required" aria-required="true" type="radio" value="750" name="zone[radius]" id="zone_radius_750">
                          <label class="radius-choice collection_radio_buttons" for="zone_radius_750">750</label>
                        </div>
                      </div>
                      <div class="form-check">
                        <div class="checkbox-gender-heatmap">
                          <input class="hidden form-check-input radio_buttons required" data-radius="radius" autofocus="autofocus" required="required" aria-required="true" type="radio" value="1000" name="zone[radius]" id="zone_radius_1000">
                          <label class="radius-choice collection_radio_buttons" for="zone_radius_1000">1000</label>
                        </div>
                      </div>
                  </div>
                  </fieldset>



<!--     <div class="input-box gender-heatmap gender-choices">

      <div class="checkbox-gender-heatmap">
        <input class="hidden" type="checkbox" value="male" name="gender[]" id="post_gender_ids_1">
        <label class="gender-choice" for="post_gender_ids_1">250m
        </label>
      </div>

      <div class="checkbox-gender-heatmap">
        <input class="hidden" type="checkbox" value="female" name="gender[]" id="post_gender_ids_2">
        <label class="gender-choice" for="post_gender_ids_2">500
        </label>
      </div>

      <div class="checkbox-gender-heatmap">
        <input class="hidden" type="checkbox" value="other" name="gender[]" id="post_gender_ids_3">
        <label class="gender-choice" for="post_gender_ids_3">750
        </label>
      </div>

      <div class="checkbox-gender-heatmap">
        <input class="hidden" type="checkbox" value="other" name="gender[]" id="post_gender_ids_3">
        <label class="gender-choice" for="post_gender_ids_3">1000
        </label>
      </div>
    </div> -->

    <div id='creation_zone' style='height: 250px; width:100%;'>

    </div>


<div class="form-check">
  <div class="container-interest-all">
      <div class="row">
      <% @interest_tags.each do |interest| %>

        <div class="col-xs-4 col-md-3 col-lg-2">
          <div class="wrapper-card-interest">
            <input required id="interest_choice_<%= interest.id %>" aria-required="true" type="checkbox" value="<%= interest.id %>" name="zone[interest_tag_ids][]" >
              <label for="interest_choice_<%= interest.id %>">
                <%= image_tag interest.photo, class:"zone_photo" %>
              <div class="interest-title">
               <%= interest.title %>
              </div>
            </label>
          </div>

        </div>
           <% end %>
      </div>


  </div>
    </div>
    <br>
    <%= f.button :submit, "Create", class:"button_normal", id:"profile-edit" %>
    <br>
    <br>
    <br>
    <br>
  <% end %>

  </div>


    <div class="col-xs-12 col-lg-6 col-lg-offset-3">
      <%= render 'components/navbar_bottom' %>
    </div>


 <%= javascript_pack_tag 'zone_map' %>


    <div class="col-xs-12 col-lg-6 col-lg-offset-3">
      <%= render 'components/navbar_bottom' %>
    </div>
