<h1>Create a zone</h1>
  <%= simple_form_for([@zone], html: {id: 'simple_form_creation_zone'}) do |f| %>
  <%= f.error_notification %>

    <%= f.input :title,
                  required: true,
                  autofocus: true,
                  input_html: { data: { title: :title} }
                  %>

    <%= f.input :address,
                  required: true,
                  autofocus: true,
                  input_html: { data: { address: :address} }
                  %>
    <%= f.input :radius,
                  as: :integer,
                  required: true,
                  autofocus: true,
                  input_html: { data: { radius: :radius} }
                  %>

    <div id='creation_zone' style='height: 60vh; width:100vw;'>

    </div>
    <%= f.association :interest_tags,
                  as: :check_boxes,
                  required: true %>

    <%= f.button :submit, "create a zone" %>

 <% end %>










 <%= javascript_pack_tag 'zone_map' %>

