<%= simple_form_for([@post]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :content,
                required: true,
                autofocus: true
                %>
    <%= f.association :zone,
                collection: current_user.zones,
                as: :select,
                required: true
                 %>
    <%= f.association :interest_tag,
                collection: @zone.interest_tags,
                as: :radio_buttons,
                required: true
                %>
<!-- Should only display interest tag belong to the zone -->
  </div>

  <div class="form-actions">
    <%= f.button :submit, "publish" %>
  </div>
<% end %>

<%= javascript_pack_tag 'edit_post' %>
