<%= render 'components/navbar_newsfeed' %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-lg-6 col-lg-offset-3">
      <div class="form-post">
        <%= simple_form_for(@post) do |f| %>
          <%= f.error_notification %>

              <div class="row">
                <div class="col-xs-12" style="height: 53vh">
                  <div class="input-write-post">

                    <div class="form-group text required post_content image-upload-wrap">
                      <textarea class="form-control text required" autofocus="autofocus" required="required" aria-required="true" placeholder="Write your post..." name="post[content]" id="post_content"><%= @post.content %></textarea>


                        <label for="post_photo">
                        <div class="image-upload">
                          <i class="far fa-images upload-image"></i>
                        </label>
                          <input type="file" name="post[photo]" id="post_photo"/>
                        </div>
                    </div>
                  </div>
                </div>

                <div class="col-xs-12" style="height: 12vh">
                  <div class="form-check zones">
                    <% current_user.zones.all.each do |zone| %>
                      <div class="zone-select">
                        <input id="zone_choice_<%= zone.id %>" required="required" aria-required="true" type="radio" value="<%= zone.id %>" <% if zone == @post.zone %>checked="checked"<% end %> name="post[zone_id]">
                        <label for="zone_choice_<%= zone.id %>">
                          <div class="container_zone_logo_list2">
                            <div class="zone_logo_list2">
                            </div>
                          </div>
                          <% zone_data = {
                            interest_tags: zone.interest_tags,
                            zone_id: zone.id
                          } %>
                          <div class='zone_data' data-interests='<%= zone_data.to_json %>'>
                            <%= zone.title %>
                          </div>
                        </label>
                      </div>
                    <% end %>
                  </div>
                </div>


                <div class="col-xs-12" style="height: 10vh">
                  <div class="wrapper-interest-write">
                    <div id='interest_tags_with_zone' data-zone-id>
<!--                    <%= f.association :interest_tag,
                                # collection: Zone.find(z).interest_tags,
                                as: :radio_buttons,
                                label: :none,
                                required: true
                                %> -->
                     <fieldset class="form-group radio_buttons required post_interest_tag" >
            <!--           <legend class="col-form-label pt-0">none <abbr title="required">*</abbr>
                      </legend> -->
                      <input type="hidden" name="post[interest_tag_id]" value="">
                        <div class="form-check">
                          <div class="container-interest-write-post">
                            <% @post.zone.interest_tags.each do |interest| %>
                                <input class="form-check-input radio_buttons required" required="required" aria-required="true" type="radio" value="<%= interest.id %>" <% if interest == @post.interest_tag %>checked="checked"<% end %> name="post[interest_tag_id]" id="post_interest_tag_id_<%= interest.id %>">
                                <label class="collection_radio_buttons" for="post_interest_tag_id_<%= interest.id %>"><%= interest.title %></label>
                            <% end %>
                          </div>
                        </div>
                     </fieldset>

                    </div>
                  </div>
                </div>

                    <div class="form-actions">
                        <div class="publish_button">
                          <%= f.button :submit, "Publish", class: "button_normal"%>
                        </div>
                    </div>

                  <% end %>

              <br>
              <br>
              <br>

              </div>

    <div class="col-xs-12 col-lg-6 col-lg-offset-3">
      <%= render 'components/navbar_bottom' %>
    </div>

</div>

<%= javascript_pack_tag 'edit_post' %>

