<%= render 'components/navbar_newsfeed' %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-lg-6 col-lg-offset-3">

      <div class="form-post">
        <%= simple_form_for(@post) do |f| %>
          <%= f.error_notification %>

              <div class="row">
                <div class="col-xs-12">
                  <div class="input-write-post">

                            <%= f.input :content,
                                    required: true,
                                    autofocus: true,
                                    label: false,
                                    placeholder: "write your post"
                                    %>

                            <%= f.input :photo %>
                            <%= f.input :photo_cache, as: :hidden %>
                            <%= f.button :submit %>


                            <!-- <i class="upload-photo fas fa-camera"></i> -->
                  </div>


                </div>

                <div class="col-xs-12">
                  <div class="form-check zones">
                    <% current_user.zones.all.each do |zone| %>
                      <div class="zone-select">


                        <input id="zone_choice_<%= zone.id %>" required="required" aria-required="true" type="radio" value="<%= zone.id %>" name="post[zone_id]">

                        <label for="zone_choice_<%= zone.id %>">
                          <div class="zone_logo_list2">
                          </div>
                          <div>
                            <%= zone.title %>
                          </div>
                        </label>
                      </div>
                    <% end %>
                  </div>
                </div>


                <div class="col-xs-12">

                      <div id='interest_tags_with_zone'>
                      <%= f.association :interest_tag,
                                  as: :radio_buttons,
                                  required: true
                                  %>
                      </div>



                </div>


                <div class="col-xs-12">

                  <div>

                      <%#= f.association :zone,
                       collection: current_user.zones,
                       as: :radio_buttons,
                       input_html: { id: "zone_choice"}
                       %>

                  </div>


                </div>


<!-- <fieldset class="form-group radio_buttons required post_zone">

  <legend class="col-form-label pt-0">Zone <abbr title="required">*</abbr></legend>

  <input type="hidden" name="post[zone_id]" value="">

  <div class="form-check">
    <input class="form-check-input radio_buttons required" id="zone_choice" required="required" aria-required="true" type="radio" value="2" name="post[zone_id]">

    <label class="collection_radio_buttons" for="zone_choice">qldfdqf</label>

  </div>

</fieldset> -->


                  <!-- Should only display interest tag belong to the zone -->
                  <script src='new'></script>

                    <div class="form-actions">
                      <%= f.button :submit, "publish" %>
                    </div>
                  <% end %>

              </div>


      </div>






